.card__container {
  .card__deck:hover .card__picture img {
    opacity: 0.5;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .card__deck {
    position: relative;
    margin-bottom: 20px;
    height: 340px;
    .statistics__container {
      position: absolute;
      bottom: 5px;
      left: 0;
    }
    .card__picture {
      background: black;
      & img {
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
    }
  }
  .card__texts {
    &--categorytitle {
      font-weight: bold;
      font-size: 9px;
      color: white;
    }
    &--articletitle {
      font-size: 15px;
      font-weight: bold;
      line-height: 21px;
      color: $tertiary-color;
      font-family: $lato;
      margin-bottom: 15px;
      display: block;
    }
  }
  .threeQuarter {
    .card__texts {
      padding: 76px 50px 0 20px;
      &--categorytitle {
        color: $gold;
      }
      &--articletitle {
        font-size: 24px;
        line-height: 32px;
        font-family: $playfair;
      }
    }
  }
  .oneQuarter {
    .card__texts {
      padding: 10px 20px 0 20px;
      &--categorytitle {
        position: absolute;
        top: 20px;
      }
    }
  }
  .variantTwo {
    .card__texts {
      &--articletitle {
        position: absolute;
        top: 180px;
        color: white;
      }
      &--articledescription {
        position: absolute;
        top: 225px;
        color: white;
      }
    }
    .card__picture {
      height: 290px;
    }
  }
  .twoQuarter {
    .card__texts {
      padding: 76px 0 0 20px;
      &--categorytitle {
        color: $blue;
      }
      &--articletitle {
        font-size: 24px;
        line-height: 32px;
        font-family: $lato;
      }
    }
    .card__picture {
      background: white;
    }
  }
  .variantBlue {
    background: $blue;
    text-align: center;
    .card__texts {
      padding: 10px 20px;
      &--categorytitle {
        position: initial;
        display: block;
        text-align: center;
      }
      &--articletitle {
        color: white;
        font-family: $playfair;
        font-size: 20px;
        line-height: 27px;
      }
      &--readmore {
        font-size: 11px;
        font-weight: bold;
        border: 0px;
        border-top: 1px solid #94b9dd;
        text-transform: uppercase;
        color: White;
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        -webkit-box-shadow: 2px 3px 7px #2166ac;
        -moz-box-shadow: 2px 3px 7px #2166ac;
        box-shadow: 2px 3px 7px #2166ac;
        background: #4c8ac7;
        padding: 10px 30px;
        text-decoration: none;
      }
      &--readmore:hover {
        background: #E15329;
        border-top: 1px solid #F2896D;
      }
      img {
        width: auto;
        margin: 0 auto;
        margin-bottom: 20px;
      }
    }
  }
  .twoQuarter .grid--flush .grid__cell:first-child {
    width: 258px;
  }
  .twoQuarter .grid--flush .grid__cell:nth-child(2) {
    width: 222px;
  }
}

.dual--button {
  display: flex;
  align-content: start;
  button {
    border-style: solid;
    border-color: $main-light;
    background: white;
    padding: 8px 10px;
    font-size: 10px;
    font-family: $lato;
    font-weight: bold;
  }
  button:hover {
    background: $main-light;
  }
  &-readmore {
    border-width: 1px 0 1px 1px;
    border-radius: 20px 0 0 20px;
  }
  &-slideshow {
    border-width: 1px;
    border-radius: 0 20px 20px 0;
  }
}
