$main-color: #9b9b9c;
$main-light : #d9d9d9;
$secondary-color: #efefef;
$tertiary-color: #333333;
$tertiary-dark: #232324;
$blue: #3078c0;
$gold : #e0a433;
$lato:'Lato', sans-serif;
$open-sans:'Open Sans', sans-serif;
$playfair:'Playfair Display', serif;
