/*! Avalanche | MIT License | @colourgarden */
/*------------------------------------*    SETTINGS
\*------------------------------------*/
/*------------------------------------*    LOGIC aka THE MAGIC
\*------------------------------------*/
/*------------------------------------*    GRID LAYOUT
\*------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.grid {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -20px;
  font-size: 0rem; }

.grid__cell {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 0;
  padding-left: 20px;
  margin: 0;
  vertical-align: top;
  font-size: 1rem; }

.grid--center {
  text-align: center; }
  .grid--center > .grid__cell {
    text-align: left; }

.grid__cell--center {
  display: block;
  margin: 0 auto; }

.grid--right {
  text-align: right; }
  .grid--right > .grid__cell {
    text-align: left; }

.grid--middle > .grid__cell {
  vertical-align: middle; }

.grid--bottom > .grid__cell {
  vertical-align: bottom; }

.grid--flush {
  margin-left: 0; }
  .grid--flush > .grid__cell {
    padding-left: 0; }

.grid--tiny {
  margin-left: -5px; }
  .grid--tiny > .grid__cell {
    padding-left: 5px; }

.grid--small {
  margin-left: -10px; }
  .grid--small > .grid__cell {
    padding-left: 10px; }

.grid--large {
  margin-left: -40px; }
  .grid--large > .grid__cell {
    padding-left: 40px; }

.grid--huge {
  margin-left: -80px; }
  .grid--huge > .grid__cell {
    padding-left: 80px; }

.grid--auto > .grid__cell {
  width: auto; }

.grid--rev {
  direction: rtl; }
  .grid--rev > .grid__cell {
    direction: ltr; }

/*------------------------------------*    GRID WIDTHS
\*------------------------------------*/
.\31\/2, .\32\/4 {
  width: 50%; }

.\31\/3 {
  width: 33.33333%; }

.\32\/3 {
  width: 66.66667%; }

.\31\/4 {
  width: 25%; }

.\33\/4 {
  width: 75%; }

@media screen and (max-width: 499px) {
  .\31\/2--thumb, .\32\/4--thumb {
    width: 50%; }
  .\31\/3--thumb {
    width: 33.33333%; }
  .\32\/3--thumb {
    width: 66.66667%; }
  .\31\/4--thumb {
    width: 25%; }
  .\33\/4--thumb {
    width: 75%; } }

@media screen and (min-width: 500px) and (max-width: 800px) {
  .\31\/2--handheld, .\32\/4--handheld {
    width: 50%; }
  .\31\/3--handheld {
    width: 33.33333%; }
  .\32\/3--handheld {
    width: 66.66667%; }
  .\31\/4--handheld {
    width: 25%; }
  .\33\/4--handheld {
    width: 75%; } }

@media screen and (min-width: 500px) {
  .\31\/2--handheld-and-up, .\32\/4--handheld-and-up {
    width: 50%; }
  .\31\/3--handheld-and-up {
    width: 33.33333%; }
  .\32\/3--handheld-and-up {
    width: 66.66667%; }
  .\31\/4--handheld-and-up {
    width: 25%; }
  .\33\/4--handheld-and-up {
    width: 75%; } }

@media screen and (max-width: 800px) {
  .\31\/2--pocket, .\32\/4--pocket {
    width: 50%; }
  .\31\/3--pocket {
    width: 33.33333%; }
  .\32\/3--pocket {
    width: 66.66667%; }
  .\31\/4--pocket {
    width: 25%; }
  .\33\/4--pocket {
    width: 75%; } }

@media screen and (min-width: 801px) and (max-width: 1024px) {
  .\31\/2--lap, .\32\/4--lap {
    width: 50%; }
  .\31\/3--lap {
    width: 33.33333%; }
  .\32\/3--lap {
    width: 66.66667%; }
  .\31\/4--lap {
    width: 25%; }
  .\33\/4--lap {
    width: 75%; } }

@media screen and (min-width: 801px) {
  .\31\/2--lap-and-up, .\32\/4--lap-and-up {
    width: 50%; }
  .\31\/3--lap-and-up {
    width: 33.33333%; }
  .\32\/3--lap-and-up {
    width: 66.66667%; }
  .\31\/4--lap-and-up {
    width: 25%; }
  .\33\/4--lap-and-up {
    width: 75%; } }

@media screen and (max-width: 1024px) {
  .\31\/2--portable, .\32\/4--portable {
    width: 50%; }
  .\31\/3--portable {
    width: 33.33333%; }
  .\32\/3--portable {
    width: 66.66667%; }
  .\31\/4--portable {
    width: 25%; }
  .\33\/4--portable {
    width: 75%; } }

@media screen and (min-width: 1025px) {
  .\31\/2--desk, .\32\/4--desk {
    width: 50%; }
  .\31\/3--desk {
    width: 33.33333%; }
  .\32\/3--desk {
    width: 66.66667%; }
  .\31\/4--desk {
    width: 25%; }
  .\33\/4--desk {
    width: 75%; } }

@media screen and (min-width: 1160px) {
  .\31\/2--widescreen, .\32\/4--widescreen {
    width: 50%; }
  .\31\/3--widescreen {
    width: 33.33333%; }
  .\32\/3--widescreen {
    width: 66.66667%; }
  .\31\/4--widescreen {
    width: 25%; }
  .\33\/4--widescreen {
    width: 75%; } }

@media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .\31\/2--retina, .\32\/4--retina {
    width: 50%; }
  .\31\/3--retina {
    width: 33.33333%; }
  .\32\/3--retina {
    width: 66.66667%; }
  .\31\/4--retina {
    width: 25%; }
  .\33\/4--retina {
    width: 75%; } }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #9b9b9c;
  background: #efefef none repeat scroll 0 0;
  margin: 0; }

p {
  font-size: 12px;
  line-height: 18px;
  margin: 0 0 1.5em 0; }

a {
  text-decoration: none;
  color: #9b9b9c;
  font-size: 12px; }

img {
  width: 100%;
  height: auto;
  display: block; }

h2,
h3,
h4 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  margin: 0 0 20px 0; }

article {
  background: white;
  margin: 0;
  padding: 0; }

.container--fluid {
  width: 100%; }

.container--980 {
  max-width: 980px;
  margin: 0 auto; }

.border--round {
  border: 1px solid white;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 10px;
  padding: 0 12px; }

.copyright {
  max-width: 980px;
  margin: 0 auto;
  padding: 10px 0;
  color: #666; }

.align-center {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.align-left {
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start; }

.align-right {
  -webkit-justify-content: end;
  -ms-flex-pack: end;
  justify-content: end; }

.header__top {
  background: white;
  margin-bottom: 20px; }

.header__top--container {
  border: 1px solid #efefef; }
  .header__top--container .grid__cell section {
    height: 100px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

.logocontainer--logo {
  width: 120px;
  height: 40px; }

nav {
  height: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  nav a {
    font-size: 11px;
    color: #333333;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.5px;
    margin-right: 5.72%; }
  nav a:last-child {
    margin: 0px; }

.carousel__header {
  margin-bottom: 20px; }

.video__container {
  background: #232324; }
  .video__container--box a:hover {
    opacity: 0.8; }
  .video__container--box--link {
    position: relative;
    display: block; }
    .video__container--box--link .material-icons {
      position: absolute;
      color: white;
      z-index: 1000;
      padding: 2px 15px;
      border-radius: 15px;
      left: 40%;
      top: 30%; }
    .video__container--box--link p {
      font-weight: Bold;
      font-size: 13px;
      color: #d9d9d9; }
    .video__container--box--link img {
      padding-bottom: 10px; }
    .video__container--box--link span {
      float: right;
      color: #666;
      font-weight: normal; }
  .video__container--title {
    padding-top: 10px;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase; }

.news__home--title {
  text-transform: uppercase;
  font-size: 11px;
  color: #333333;
  padding: 10px 20px;
  border-bottom: 1px solid #efefef;
  margin: 0px; }

.news__home--content {
  padding: 20px 20px; }

.news__home .news__content {
  padding-top: 10px;
  border-bottom: 1px solid #efefef;
  font-family: "Lato", sans-serif;
  min-height: 0;
  margin: 0; }
  .news__home .news__content--time {
    font-size: 9px; }
  .news__home .news__content--title {
    font-size: 13px;
    font-weight: bold;
    color: #333333;
    margin: 5px 0 1.3em;
    display: block; }

.news__home .btn--allnews {
  padding-top: 10px;
  display: block;
  width: 100%;
  text-align: center;
  background: #333333;
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  height: 35px; }

.news__home .btn--allnews:hover {
  background: #9b9b9c; }

.card__container article .card__picture img {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.card__container article:hover .card__picture img {
  width: 105%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.card__container article {
  position: relative;
  margin-bottom: 20px;
  min-height: 340px; }
  .card__container article .statistics__container {
    position: absolute;
    bottom: 5px;
    left: 0; }

.card__container .card__texts--categorytitle {
  font-weight: bold;
  font-size: 9px;
  color: white; }

.card__container .card__texts--articletitle {
  font-size: 15px;
  font-weight: bold;
  line-height: 21px;
  color: #333333;
  font-family: "Lato", sans-serif;
  margin-bottom: 15px;
  display: block; }

.card__container .threeQuarter .card__texts {
  padding: 76px 50px 0 20px; }
  .card__container .threeQuarter .card__texts--categorytitle {
    color: #e0a433; }
  .card__container .threeQuarter .card__texts--articletitle {
    font-size: 24px;
    line-height: 32px;
    font-family: "Playfair Display", serif; }

.card__container .threeQuarter .card__picture {
  overflow: hidden;
  height: 340px; }

.card__container .oneQuarter .card__texts {
  padding: 10px 20px 0 20px; }
  .card__container .oneQuarter .card__texts--categorytitle {
    position: absolute;
    top: 20px; }

.card__container .oneQuarter .card__picture {
  overflow: hidden;
  width: 230px;
  height: 185px; }

.card__container .twoQuarter .card__texts {
  padding: 76px 0 0 20px; }
  .card__container .twoQuarter .card__texts--categorytitle {
    color: #3078c0; }
  .card__container .twoQuarter .card__texts--articletitle {
    font-size: 24px;
    line-height: 32px;
    font-family: "Lato", sans-serif; }

.card__container .twoQuarter .card__picture {
  overflow: hidden;
  height: 340px; }

.card__container .twoQuarter .grid--flush .grid__cell:first-child {
  width: 54%; }

.card__container .twoQuarter .grid--flush .grid__cell:nth-child(2) {
  width: 46%; }

.statistics__container {
  padding: 10px 20px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .statistics__container section {
    font-size: 11px;
    line-height: 13px;
    color: #9b9b9c;
    font-family: 'Lato', sans-serif;
    margin-right: 10px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .statistics__container .material-icons {
    font-size: 13px;
    line-height: 13px;
    color: #d9d9d9;
    padding-right: 5px; }
  .statistics__container span {
    color: #9b9b9c; }
