doctype html
html(lang='en')
  head
    title Silk - Your everyday lifestyle guide
    script(src='js/silkmagazine.js')
    link(rel='stylesheet',href='global.css')
  body
    include views/global-variables.jade

    section.header__top.container--fluid
      include views/header.jade
