doctype html
html(lang='en')
  head
    title Silk - Your everyday lifestyle guide
    script(src='js/silkmagazine.js')
    link(rel='stylesheet',href='global.css')
  body
    section.container--980
      include views/global-variables.jade
      include views/header.jade
