doctype html
html(lang='en')
  head
    title Silk - Your everyday lifestyle guide
    script(src='js/silkmagazine.js')
    link(rel='stylesheet',href='global.css')
  body
    include views/global-variables.jade

    section.header__top.container--fluid
      include views/header.jade
    section.carousel__header.container--980
      include views/carousel.jade

    section.card__container.container--980
      section.grid
        section.grid__cell(class='3/4')
          section.grid
            section.grid__cell
              article.threeQuarter
                .grid.grid--flush
                  .grid__cell(class='1/2')
                    section.card__texts
                      p.card__texts--categorytitle=cat6
                      a.card__texts--articletitle(href='#') The 2015 Best-Dressed List: How Kate Middleton
                      p.card__texts--articledescription Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                      include views/statistics.jade
                  .grid__cell(class='1/2')
                    section.card__picture
                      img(src='images/articles/article1.jpg' alt='' width='365' height='340')
            section.grid__cell
              section.grid
                .grid__cell(class='1/3')
                  article.oneQuarter card 2

                .grid__cell(class='1/3')
                  article.oneQuarter
                    section.card-picture
                      img(src='images/articles/article3.jpg' alt='')
                    section.card__texts
                      p.card__texts--categorytitle.border--round=cat4
                      a.card__texts--articletitle(href='#') Best of Minnesota 2015: Revealing what rocks
                      p.card__texts--articledescription whipped the Scotch tape from my pocket and said
                    include views/statistics.jade

                .grid__cell(class='1/3')
                  article.oneQuarter card 4



        section.grid__cell(class='1/4')
          include views/newshome.jade
