doctype html
html(lang='en')
  head
    title Silk - Your everyday lifestyle guide
    script(src='js/silkmagazine.js')
    link(rel='stylesheet',href='global.css')
  body
    include views/global-variables.jade

    section.header__top.container--fluid
      include views/header.jade
    section.carousel__header.container--980
      include views/carousel.jade

    section.card__container.container--980
      section.grid
        section.grid__cell(class='3/4')
          section.grid
            section.grid__cell
              include views/articles/article1.jade
            section.grid__cell
              section.grid
                .grid__cell(class='1/3')
                  include views/articles/article2.jade

                .grid__cell(class='1/3')
                  include views/articles/article3.jade

                .grid__cell(class='1/3')
                  include views/articles/article4.jade

        section.grid__cell(class='1/4')
          include views/newshome.jade

    section.card__container.container--980
      section.grid
        section.grid__cell(class='2/4')
          include views/articles/article5.jade
        section.grid__cell(class='1/4')
          include views/articles/article6.jade
        section.grid__cell(class='1/4')
          include views/articles/article7.jade

    section.video__container.container--fluid
      section.container--980
        include views/videoslides.jade

