section.authordetails
  img.authorportrait(src='images/articles/author1.png', alt='', width='30', height='30')
  section.authordetails--texts
    p.authordetails--texts-name Jason George
    p.authordetails--texts-time=random1 + ' hours ago'
