section.footer__content.container--980
  section.grid
    section.grid__cell(class='3/4')
      section.grid
        section.grid__cell(class='1/2')
          section.footer__content--disclaimer
            img.logoSilkLight(src='images/logo_silk_light.png' alt='Silk Magazine', width='140', height='48')
            p.footer__content--disclaimer-texts Donec sed odio dui. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh
        section.grid__cell(class='1/2')
          section.grid
            section.grid__cell(class='1/2')
              section.footer__sectors
                h2.footer__content--title INFORMATION
                a.footer__content--links(href='#') FAQs
                a.footer__content--links(href='#') Size Guide
                a.footer__content--links(href='#') Delivery Info
                a.footer__content--links(href='#') Return Info
                a.footer__content--links(href='#') Discount
                a.footer__content--links(href='#') Our Stores


            section.grid__cell.sectors(class='1/2')
              section.footer__sectors
                h2.footer__content--title ACCOUNTS
                a.footer__content--links(href='#') Login
                a.footer__content--links(href='#') Register
                a.footer__content--links(href='#') My Cart
                a.footer__content--links(href='#') Orders
                a.footer__content--links(href='#') Wishlist

    section.grid__cell(class='1/4')
      section.footer__sectors.footer__content--lastsection
        h2.footer__content--title CONTACT US
        p.footer__content--address 48 Park Avenue, <br /> East 21st Street, Apt. 304 <br /> San Francisco
        p.footer__content--email Email:
          a(href='mailto:support@diiim.com')  support@diiim.com
        p.footer__content--phone Phone: 415-515-6171
        p.footer__content--fax Fax: 415-515-6171
