- var cat1 = "NEWS";
- var cat2 = "STYLE";
- var cat3 = "FOOD & DRINK";
- var cat4 = "TRAVEL";
- var cat5 = "SPORT";
- var cat6 = "CARS & MOTO";
- var cat7 = "CULTURE";
- var cat8 = "VIDEO";
- var cat9 = "ARCHIVE";
- var cat10 = "Search";
- var random1 = Math.floor(Math.random() * 9 + 1);
- var random2 = Math.floor(Math.random() * 90 + 10);
- var random3 = Math.floor(Math.random() * 900 + 100);
