.grid-sandbox.statistics
  .grid--auto
    .grid__cell.favorites
      i.material-icons favorite &nbsp;
      span.html= random3
    .grid__cell.comments
      i.material-icons chat_bubble &nbsp;
      span.html= random2
    .grid__cell.published
      i.material-icons watch_later &nbsp;
      span.html= random1 + ' hours ago'
