.statistics__container
  section.favorites
    i.material-icons favorite
    span.html= random3
  section.comments
    i.material-icons chat_bubble
    span.html= random2
  section.published
    i.material-icons watch_later
    span.html= random1 + ' hours ago'
