p.video__container--title Video
section.grid
  section(class='1/4 card grid__cell')
    section.video__container--box
      a.video__container--box--link(href='#')
        i.material-icons.border--round play_arrow
        img(src='images/videos/Video1.jpg')
        p The Big Black Book Spring
          span.align-right 12:00

  section(class='1/4 card grid__cell')
    section.video__container--box
      a.video__container--box--link(href='#')
        i.material-icons.border--round play_arrow
        img(src='images/videos/Video2.jpg')
        p Behind The Scenes Video
          span.align-right 12:00

  section(class='1/4 card grid__cell')
    section.video__container--box
      a.video__container--box--link(href='#')
        i.material-icons.border--round play_arrow
        img(src='images/videos/Video3.jpg')
        p Michelin-Starred French
          span.align-right 12:00

  section(class='1/4 card grid__cell')
    section.video__container--box
      a.video__container--box--link(href='#')
        i.material-icons.border--round play_arrow
        img(src='images/videos/Video4.jpg')
        p The Smartwatch Wars
          span.align-right 12:00
