section.weatherapp
  .weatherapp--picture
    img(src='images/currentweather.png', alt='', width='', height='')
  .weatherapp--texts
    p.weatherapp--texts-location MAURITIUS, MU 35&deg;C
    p.weatherapp--texts-date Thursday, February 16, 2017
