article.card__deck.oneQuarter.variantBlue
  section.card__texts
    p.card__texts--categorytitle=cat2
    p.card__texts--articletitle(href='#') Offbeat Portraits Give Stars
    img(src='images/articles/article2.png', alt='', width='131', height='136')
    button.card__texts--readmore READ MORE
