article.card__deck.oneQuarter
  section.card__picture
    img(src='images/articles/article3.jpg', alt='', width='230', height='190')
  section.card__texts
    p.card__texts--categorytitle.border--round=cat4
    a.card__texts--articletitle(href='#') Best of Minnesota 2015: Revealing what rocks
    p.card__texts--articledescription whipped the Scotch tape from my pocket and said
  include ../statistics.jade
