article.card__deck.threeQuarter
  .grid.grid--flush
    .grid__cell(class='1/2')
      section.card__texts
        p.card__texts--categorytitle=cat6
        a.card__texts--articletitle(href='#') The 2015 Best-Dressed List: How Kate Middleton
        p.card__texts--articledescription Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
        include ../statistics.jade
    .grid__cell(class='1/2')
      section.card__picture
        img(src='images/articles/article1.jpg' alt='' width='365' height='340')
