article.card__deck.oneQuarter
  section.card__picture
    img(src='images/articles/article7.jpg', alt='', width='230', height='190')
  section.card__texts
    p.card__texts--categorytitle.border--round=cat4
    a.card__texts--articletitle(href='#') Reading Hemingway's Personal Letters
    p.card__texts--articledescription There isn't much that hasn't been said about Ernest Miller
  include ../statistics.jade
