article.twoQuarter
  .grid.grid--flush
    .grid__cell
      section.card__texts
        p.card__texts--categorytitle=cat6
        a.card__texts--articletitle(href='#') Eames Molded Fiberglass Side Chair
        p.card__texts--articledescription The Eames Molded Fiberglass Side Chair with Wire Base is an iconic piece of American design history.
    .grid__cell
      section.card__picture
        img(src='images/articles/article5.jpg' alt='' width='222' height='340')
